@media only screen and (max-width: 1200px){
    .sp{
        max-width: 20%;
    }
    .imgsp,.namesp{
        min-width: 100%;
        text-align: center;
    }
    .imgsp>a>img{
        width: 70%;
    }
}
@media only screen and (max-width: 991px){
    .flex-column>a{
        font-size: 14px;
    }
    .table-responsive>thead>tr>th,.table-responsive>tbody>tr>td{
        font-size: 14px;
    }
}
@media only screen and (max-width: 767px){
    .table-responsive>thead>tr>th{
        min-width: 8rem;
    }
    .accountProfile>.col-6{
        min-width: 100%;
    }
}
@media only screen and (max-width: 480px){
    .headerNav{
        min-width: 100%;
        height: 100%;
    }
    .contentNav{
        min-width: 100%;
        margin-top: 2rem;
    }
    .flex-column>a{
        margin-bottom: 0.5rem;
    }
}