/* đường dẫn */
.duongdan>nav>ol>.breadcrumb-item>a {
    color: black;
    font-weight: bolder;
}
.title-comm {
    color: #fff;
    font-size: 18px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    background-color: #fff;
    text-align: center;
}
 
h3.title-comm:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: 0;
    border-top: 2px solid #223464;
    z-index: 1;
    display: block;
}
 
.title-comm .title-holder {
    min-width: 350px;
    height: 45px;
    background-color: #223464;
    height: auto;
    line-height: 45px;
    padding: 0px 20px;
    position: relative;
    z-index: 2;
    text-align: center;
    display: inline-block;
    min-width: 280px;
}
 
.title-holder:before {
    content: "";
    position: absolute;
    right: -15px;
    border-width: 0px;
    bottom: 0px;
    border-style: solid;
    border-color: #223464 transparent;
    display: block;
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 15px solid #223464;
}
 
.title-holder:after {
    content: "";
    position: absolute;
    left: -15px;
    border-width: 0px;
    bottom: 0px;
    border-style: solid;
    border-color: #223464 transparent;
    display: block;
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-bottom: 22px solid transparent;
    border-right: 15px solid #223464;
}
.intro>h1{
    text-align: center;
    font-weight: bolder;
    color: #223464;
}
.intro>p{
    font-style: italic;
    font-weight: 500;
    margin-top: 0.5rem;
}
@media only screen and (max-width: 767px){
    .intro>div>img{
        min-width: 100%;
    }
    .intro>h1{
        font-size: 25px;
    }
}
@media only screen and (max-width: 380px){
    .intro>h1{
        font-size: 20px;
    }
    .title-comm {
        font-size: 15px;
    }
    .title-comm .title-holder {
        min-width: 200px;
    }
}